body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(22, 34, 42, 0.846);
   
}
body, html {
    width: 100%;
    overflow-x: hidden;
}
.hero{
    margin-top: 8em;
}

header {
    
  
    position: relative;
    max-width: 100%;
    z-index: 1000; /* Ensures header stays on top */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.caps{
    text-transform: uppercase;
    font-family: Work Sans; 
}
.team-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* padding: 20px; */
    margin-inline:auto ;
    gap: 3em;
    
    z-index: 1; /* Ensures content goes behind the header */
}
.team-container h3{
    text-transform: uppercase;
    font-family: Work Sans;

}
.member{
    display: flex;

}
.team{
    text-align: center;
    padding-top: 2em;
    font-family: Work Sans;
    padding-bottom: .6em;
}
.headd {
    
    font-size: 1.25em;
    font-family: Work Sans;
    font-weight: 700;
    font-style: Regular;
    font-family: Work Sans;
  
    text-align: center;
    color: orange;
    margin-top: 0px;
    padding-block: .7em;
}

.captains, .members {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
}

/* .captains h1, .members h1 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0px;
} */
.names{
    text-transform: capitalize;
    font-size: large;
    font-style: Regular;
    text-align: center;
    padding-block: .3em;
    font-family: Work Sans;
  
}
.captains .member, .members .member {
    position: relative;
    text-align: center;
    margin: 25px;
}

.captains {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.members {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.teamMembers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1.5em;
    width: min(95%,1400px);
    margin-inline:auto;
    gap: 2em;
    margin-top: 5em;
}
.member{
    display: grid;
    place-items: center;
    cursor: pointer;
}

.member img, .members .member img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.profilesMember{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay i {
    color: #fff;
    font-size: 24px;
}

.member:hover .overlay,
.member:focus .overlay {
    opacity: 1;
}

h3 {
    margin-top: 10px;
}

/* Responsive Design */




@media screen and (max-width:500px) {
    .teamMembers{
        flex-direction: column;
        padding-block: 0em;

    }
    .team-container{
        grid-template-columns: 1fr;
        margin: 0;
        width: 100%;
    }

    .member img, .members .member img {
        width: 80px;
        height: 80px;
    }
    .headd{
        font-size: 1.45em;
        padding-block: .5em;
    }
    .team{
        padding-top: 6em;
        font-size: 5em;
    }
    .names{
        padding-block: .3em;
        font-size: larger;
    }
}

@media screen and (min-width:760px ) and (max-width:1440px){
    .team-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .member img, .members .member img {
        width: 80px;
        height: 80px;
    }
    .headd{
        font-size: 1.45em;
        padding-block: .5em;
    }
    .team{
        /* padding-top: 4em; */
        font-size: 5em;
    }
    .names{
        padding-block: .3em;
        font-size: larger;
    }
}